<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Success</title>
  <link rel="stylesheet" href="/stylesheets/Save-succ.css"/>
</head>
<body>
  <div class="success-container">
    <div class="card">
      <h1>✅ Welcome  <%= Name %> Page Successfully!</h1>
      <p>The page is the successfully reloaded Mr  <%= Name %> .</p>
      <a href="/" class="btn">Go Back Home</a>
    </div>
  </div>
</body>
</html>
