/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    text-align: center;
    color: white;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: white;
    color: #4facfe;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s ease;
    font-size: 1.2rem;
  }
  
  .btn:hover {
    background-color: #00f2fe;
    color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  